* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  color: #3C3D3E;
  font-family: sans-serif;
}

body {
  background: grey url("capitol.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

nav {
  padding: 8px 20px;
  box-shadow: 1px 1px grey;
  background-color: rgba(255, 255, 255, 1);
  text-align: left;
  font-size: 20px;
}

#content  {
  padding: 60px;
}

#menuSection {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.95);
}

#findAnEventButton {
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  background: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

#formSection {
  width: 400px;
  background: white;
  margin: auto;
  padding: 20px 20px;
  border-radius: 5px;
}

form {
  text-align: left;
}

h3 {
  padding-bottom: 25px;
  font-size: 20px;
}

input {
  cursor: pointer;
}

#submitButton {
  background: blue;
  padding: 6px 20px;
  float: right;
  position: relative;
  bottom: 20px;
  right: 5px;
  color: white;
  border: none;
  box-shadow: 1px 1px grey;
  border-radius: 2px;
}

#backButton {
  background: white;
  padding: 5.5px 20px;
  float: right;
  position: relative;
  bottom: 20px;
  right: 20px;
  color: blue;
  border: 0.5px solid grey;
  box-shadow: 1px 1px grey;
  border-radius: 2px;
}

#moreGreatResources {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid black;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}

#menuHeader {
  font-size: 28px;
  padding: 5px;
  color: black;
}

a {
 text-decoration: none;
 cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  padding: 5px;
  font-size: 15px;
  width: 30%;
}

#contentCalendar {
  padding: 40px;
}

iframe {
  max-width: 100%;
}

#contentGroup {
  padding: 30px;
  text-align: center;
}

#listHere {
  width: 100%;
  background-color: rgba(245, 245, 245, 0.85);
  padding: 50px;
}

.eachGroup {
  width: 100%;
  background: white;
  padding: 20px;
  border: 1px solid grey;
  margin-bottom: 15px;
}

h4 {
  font-size: 20px;
  text-align: left;
  padding-bottom: 5px;
}

#groupAddress {
  text-align: left;
}

#groupAddress > a {
  color: #00bfff;
}

@media only screen and (max-width: 500px) {
  #content {
    padding: 10px;
  }
  #contentCalendar {
    padding: 0;
  }
  #menuHeader {
    display: none;
  }
  #menuSection {
    padding: 5px;
    margin-top: 55%;
    background-color: rgba(255, 255, 255, 0.8);
  }
  #formSection {
    width: 95%;
    height: 100%;
  }
  #moreGreatResources {
    position: relative;
  }
  #contentGroup {
    padding: 10px;
  }
}
