<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find A Blank</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <nav><a href="index.html">Find a Blank</a></nav>
    <div id="contentGroup">
      <div id="listHere">
        <h3>The following groups match your interests:</h3>
        <!-- template below -->
        {{#categories}}
        <h4>{{name}}</h4>
          {{#groups}}
          <div class="eachGroup">
          <h4>{{name}}</h4>
          <p id="groupAddress"><a href="#" target="_blank">{{link}}</a></p>
          </div>
          {{/groups}}
        
        {{/categories}}
        <!-- template above -->
      </div>
    </div> <!-- end of content div -->
  </body>
</html>
