<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find A Blank</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <nav><a href="index.html">Find a Blank</a></nav>
    <div id="contentCalendar">
      <!--<iframe style="border-width: 0;"
      src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;{{#calendars}}src={{src}}&amp;color=%2323164E&amp;{{/calendars}}ctz=America%2FChicago"
      width="800" height="600" frameborder="0" scrolling="no"></iframe> end of content div -->
      <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=og96t22bfsf22r2seo07lv5014%40group.calendar.google.com&amp;color=%2323164E&amp;src=4sb63trkq9794hkpo1n1ufi3qc%40group.calendar.google.com&amp;color=%23182C57&amp;src=2bfucjf1os35vn50jkuga1d7b0%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FChicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>  
  </body>
</html>
