<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find A Blank</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <nav><a href="index.html">Find a Blank</a></nav>
    <div id="contentCalendar">
    </div> <!-- end of content div -->
  </body>
</html>